openapi: 3.0.0
info:
  title: loopay-api Affiliate PhysicalPoint API
  version: 3.2.0
  description: " ## Loopay open API \n You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let's dive right in! \n\n ## Integration guide\n For production, please contact your personal Looper.\n\n ## Authetication guide\n Loopay uses a token-based authentication system, which means that you will need to generate a token to be able to use the API. \n\n ### How to generate a token\n To generate a token, you will need to send a POST  request to the following endpoint: \n\n `/login`  [See  User/post ](/explorer/#/User/User.login)  \n\n  ⚠ **Disclaimer**: All examples listed below are run in a secure environment ready for testing."
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: PhysicalPoint
paths:
  /physical-point/{country}:
    get:
      x-controller-name: PhysicalPoint
      x-operation-name: getPhysicalPointsByCountry
      tags:
      - PhysicalPoint
      description: '## Get all Physical Points available for withdrawals or consignments by country.'
      responses:
        '200':
          description: Array of PhysicalPoint model instances
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    store:
                      type: string
                      description: Store name
                      example: 4buy Market
                    latitude:
                      type: string
                      description: Store latitude
                      example: '-0.22105571920281047'
                    longitude:
                      type: string
                      description: Store longitude
                      example: 7.839.301.005.005.830
      parameters:
      - name: country
        in: path
        schema:
          type: number
        description: Country id see /countries for more info (refers as id)
        required: true
        example: 2
      operationId: PhysicalPoint.getPhysicalPointsByCountry
