openapi: 3.2.0
info:
  title: loopay-api Country API
  version: 3.2.0
  description: '## Loopay open API

    You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let''s dive right in!'
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: Country
paths:
  /countries:
    get:
      x-controller-name: Country
      x-operation-name: countries
      tags:
      - Country
      description: '## Get countries

        Get all countries available'
      responses:
        '200':
          description: Array of Country model instances
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 1
                    name:
                      type: string
                      example: Colombia
                    isoCode:
                      type: string
                      example: co
                    currencyId:
                      type: number
                      example: 1
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      operationId: Country.countries
      summary: Country countries
      x-summary-source: derived
