openapi: 3.2.0
info:
  title: loopay-api Sources Of Payment Admin API
  version: 3.2.0
  description: '## Loopay open API

    You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let''s dive right in!'
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: SourcesOfPaymentAdmin
paths:
  /payment-sources/companies:
    get:
      x-controller-name: SourcesOfPaymentAdmin
      x-operation-name: companies
      tags:
      - SourcesOfPaymentAdmin
      description: '## Get companies ID

        Get array IDs companies available where can create a payint across a source of payment'
      responses:
        '200':
          description: Array of CompanyId
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
                  example: 1
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      - name: page
        in: query
        schema:
          type: number
      - name: recordsPerPage
        in: query
        schema:
          type: number
      operationId: SourcesOfPaymentAdmin.companies
      summary: Sources of payment admin companies
      x-summary-source: derived
  /payment-sources:
    get:
      x-controller-name: SourcesOfPaymentAdmin
      x-operation-name: paymentOfSources
      tags:
      - SourcesOfPaymentAdmin
      description: '## Get payment-sources

        Get array IDs PaymentOfSources belonging to a company available to create a payint'
      responses:
        '200':
          description: Array of ID PaymentOfSources
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
                  example: 1
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      - name: companyIds
        in: query
        schema:
          type: number
        description: company id
        required: true
        example: '16'
      - name: page
        in: query
        schema:
          type: number
      - name: recordsPerPage
        in: query
        schema:
          type: number
      operationId: SourcesOfPaymentAdmin.paymentOfSources
      summary: Sources of payment admin payment of sources
      x-summary-source: derived
  /payment-sources-pay-in/valid:
    get:
      x-controller-name: SourcesOfPaymentAdmin
      x-operation-name: validatePayInOnSourceOfPayment
      tags:
      - SourcesOfPaymentAdmin
      description: '## Get if sourceOfPayment is valid for a payin'
      responses:
        '200':
          description: Boolean
          content:
            application/json:
              schema:
                type: object
                properties:
                  codeError:
                    type: number
                  message:
                    type: string
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
      - name: sourceOfPaymentId
        in: query
        schema:
          type: number
        description: Source of payment id
        required: true
        example: 7
      - name: amount
        in: query
        schema:
          type: number
        description: amount
        required: true
        example: 100000
      - name: userId
        in: query
        schema:
          type: number
        description: userId
        required: true
        example: 1
      operationId: SourcesOfPaymentAdmin.validatePayInOnSourceOfPayment
      summary: Sources of payment admin validate pay in on source of payment
      x-summary-source: derived
