openapi: 3.2.0
info:
  title: loopay-api Pay In API
  version: 3.2.0
  description: '## Loopay open API

    You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let''s dive right in!'
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: PayIn
paths:
  /payIns/bySourceOfPaymentSlug:
    get:
      x-controller-name: PayIn
      x-operation-name: sourceOfPaymentDetailBySlug
      tags:
      - PayIn
      description: '## Get PayIns

        Get all PayIns by source of payment slug and company product id'
      responses:
        '200':
          description: array payins and pagination info
          content:
            application/json:
              schema:
                type: object
                properties:
                  payIns:
                    type: array
                    items:
                      type: object
                      properties:
                        Amount:
                          type: number
                        active:
                          type: boolean
                        createdAt:
                          type: string
                        id:
                          type: number
                        metaData:
                          type: string
                        payInGetWay:
                          type: string
                        product:
                          type: object
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                        type:
                          type: string
                        AmountCurrency:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                        Company:
                          type: object
                          properties:
                            id:
                              type: number
                        CompanyProduct:
                          type: object
                          properties:
                            id:
                              type: number
                        creatorUser:
                          type: object
                          properties:
                            id:
                              type: number
                        file:
                          type: object
                          properties:
                            fileName:
                              type: string
                            id:
                              type: number
                        ProductTransaction:
                          type: object
                          properties:
                            id:
                              type: number
                        state:
                          type: string
                        trasnferedAt:
                          type: string
                        userId:
                          type: number
                        validatedAt:
                          type: string
                        SourceOfPayment:
                          type: object
                          properties:
                            id:
                              type: number
                        LendsPayed:
                          type: object
                          properties:
                            id:
                              type: number
                  paginationInfo:
                    type: object
                    properties:
                      currentPage:
                        type: number
                      recordsPerPage:
                        type: number
                      totalRecords:
                        type: number
                      totalPages:
                        type: number
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      - name: sourceOfPaymentSlug
        in: query
        schema:
          type: string
        description: Source of payment slug
        required: true
      - name: companyProductId
        in: query
        schema:
          type: number
        description: Company product id. Required, read  id from /company-products
        required: true
      - name: startDate
        in: query
        schema:
          type: string
        description: 'Returns all fields created after to this creation date '
      - name: endDate
        in: query
        schema:
          type: string
        description: 'returns all fields created before to this creation date '
      - name: state
        in: query
        schema:
          type: array
          items:
            type: string
            description: 'returns all fields with this states '
            enum:
            - accepted
            - rejected
            - cancelled
            - abandoned
            - initial
            - pending
      - name: page
        in: query
        schema:
          type: number
        description: Page number to paginate
      - name: recordsPerPage
        in: query
        schema:
          type: number
        description: Number of records per page
      operationId: PayIn.sourceOfPaymentDetailBySlug
      summary: Pay in source of payment detail by slug
      x-summary-source: derived
  /payIns/{sourceOfPaymentId}:
    get:
      x-controller-name: PayIn
      x-operation-name: sourceOfPaymentDetail
      tags:
      - PayIn
      description: '## Get PayIns by source of payment

        Get all PayIns by source of payment id and by applied filters'
      responses:
        '200':
          description: array payins and pagination info
          content:
            application/json:
              schema:
                type: object
                properties:
                  payIns:
                    type: array
                    items:
                      type: object
                      properties:
                        Amount:
                          type: number
                        active:
                          type: boolean
                        createdAt:
                          type: string
                        id:
                          type: number
                        metaData:
                          type: string
                        payInGetWay:
                          type: string
                        product:
                          type: object
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                        type:
                          type: string
                        AmountCurrency:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                        Company:
                          type: object
                          properties:
                            id:
                              type: number
                        CompanyProduct:
                          type: object
                          properties:
                            id:
                              type: number
                        creatorUser:
                          type: object
                          properties:
                            id:
                              type: number
                        file:
                          type: object
                          properties:
                            fileName:
                              type: string
                            id:
                              type: number
                        ProductTransaction:
                          type: object
                          properties:
                            id:
                              type: number
                        state:
                          type: string
                        trasnferedAt:
                          type: string
                        userId:
                          type: number
                        validatedAt:
                          type: string
                        SourceOfPayment:
                          type: object
                          properties:
                            id:
                              type: number
                        LendsPayed:
                          type: object
                          properties:
                            id:
                              type: number
                  paginationInfo:
                    type: object
                    properties:
                      currentPage:
                        type: number
                      recordsPerPage:
                        type: number
                      totalRecords:
                        type: number
                      totalPages:
                        type: number
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      - name: sourceOfPaymentId
        in: path
        schema:
          type: number
        description: Source of payment id required read from /source-of-payment/filtered
        required: true
      - name: startDate
        in: query
        schema:
          type: string
        description: 'Returns all fields created after to this creation date '
      - name: endDate
        in: query
        schema:
          type: string
        description: 'returns all fields created before to this creation date '
      - name: state
        in: query
        schema:
          type: array
          items:
            type: string
            description: 'returns all fields with this states '
            enum:
            - accepted
            - rejected
            - cancelled
            - abandoned
            - initial
            - pending
      - name: page
        in: query
        schema:
          type: number
        description: Page number to paginate
      - name: recordsPerPage
        in: query
        schema:
          type: number
        description: Number of records per page
      operationId: PayIn.sourceOfPaymentDetail
      summary: Pay in source of payment detail
      x-summary-source: derived
