openapi: 3.2.0
info:
  title: loopay-api Currency API
  version: 3.2.0
  description: '## Loopay open API

    You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let''s dive right in!'
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: Currency
paths:
  /currencies:
    get:
      x-controller-name: Currency
      x-operation-name: currencies
      tags:
      - Currency
      description: '## Get currencies


        Get all currencies available'
      responses:
        '200':
          description: Array of Currency model instances
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 1
                    cc:
                      type: string
                      example: USD
                    name:
                      type: string
                      example: dollar
                    symbol:
                      type: string
                      example: $
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      operationId: Currency.currencies
      summary: Currency currencies
      x-summary-source: derived
