openapi: 3.2.0
info:
  title: loopay-api Company API
  version: 3.2.0
  description: '## Loopay open API

    You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let''s dive right in!'
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: Company
paths:
  /companies:
    get:
      x-controller-name: Company
      x-operation-name: companies
      tags:
      - Company
      description: '## Get companies

        Get all companies available where the user is associated'
      responses:
        '200':
          description: Array of Company model instances
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 1
                    name:
                      type: string
                      example: Monsters Inc
                    countryId:
                      type: number
                      example: 1
                    documentNumber:
                      type: string
                      example: '123456789'
                    documentTypeId:
                      type: number
                      example: 1
                    stateCompany:
                      type: string
                      example: active
                    stateStudyCompany:
                      type: string
                      example: active
                    createdAt:
                      type: string
                      example: '2021-03-01T00:00:00.000Z'
                    updatedAt:
                      type: string
                      example: '2021-03-01T00:00:00.000Z'
                    isActive:
                      type: boolean
                      example: true
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      operationId: Company.companies
      summary: Company companies
      x-summary-source: derived
