openapi: 3.2.0
info:
  title: loopay-api Paid Methods API
  version: 3.2.0
  description: '## Loopay open API

    You will find a complete guide and information to start working with Loopay integrations as soon as possible, as well as support if you get lost, so let''s dive right in!'
  contact:
    name: Loopay Team
servers:
- url: https://api.loopay.com
tags:
- name: PaidMethods
paths:
  /paid-methods:
    get:
      x-controller-name: PaidMethods
      x-operation-name: paidMethods
      tags:
      - PaidMethods
      description: '## Get paid methods

        Get all available payment methods for the products I am subscribed to and that are enabled as a collection source'
      responses:
        '200':
          description: 'Array of paid methods, containing id (paidMethodId), description and paymentChannel: electronic (PSE, bank transfer), pos (point of sale), cripto, cash (cash payment)'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 1
                    description:
                      type: string
                      example: transferencia en linea - PSE
                    paymentChannel:
                      type: string
                      example: electronic
      parameters:
      - name: authorization
        in: query
        schema:
          type: string
        description: Authorization token
        required: true
      - name: companyProductId
        in: query
        schema:
          type: number
        description: 'companyProductId: Company product id. See /company-products endpoint an get the id'
        required: true
      operationId: PaidMethods.paidMethods
      summary: Paid methods paid methods
      x-summary-source: derived
